@model IEnumerable<Portfolio.Data.Blog>

@{
    ViewBag.Title = "Index";
    ViewBag.Span = ("Personally, I rather look forward to a computer program winning the world chess championship. "
                   + "Humanity needs a lesson in humility.");
    ViewBag.H1 = "Richard Dawkins";            
    
}

<style>
    .intro-header {
        background-image: url("../../Content/Template/img/post-bg.jpg");
    }
</style>

@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    @Html.ActionLink("Create New", "Create")
}
  
@foreach (var item in Model)
{
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="@Url.Action("Details", "Blogs", new { id = item.Id })">
                        <h2 class="post-title">
                            @item.Title
                        </h2>
                    </a>
                    <p class="post-meta">Posted by @Html.ActionLink("Long Nguyen", "Index", "Home") on @item.Created.ToShortDateString()</p>
                </div>
                <hr>
        
            </div>
        </div>
    </div>

}

<!-- Pager -->
<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul>

<hr>
