@model IEnumerable<Portfolio.Data.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>



@foreach (var item in Model)
{
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="@Url.Action("Details", "Blogs")">
                        <h2 class="post-title">
                            @item.Title
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Long Nguyen</a> @item.Created</p>
                </div>
                <hr>
        
            </div>
        </div>
    </div>

    if (Request.IsAuthenticated)
    {
        Html.ActionLink("Edit", "Edit", new { id = item.Id });
        Html.ActionLink("Details", "Details", new { id = item.Id });
        Html.ActionLink("Delete", "Delete", new { id = item.Id });
    }
}

<!-- Pager -->
<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul>

<hr>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
